@media  screen and (max-width: 600px) {
      /* Header Content*/
      header{
            padding:0;
      }
      header .header-right{
            padding: 0rem !important;
      }
      .header-content{
            grid-template-columns: 1fr;
            padding-bottom: 6rem;
      }
      .header-left{
            .h-shape{
                  display: none;
            }
      }
      .header-right{
            grid-row: 1;
            width: 90%;
            margin: 0 auto;
            .name {
                  font-size: 2rem;
            }
      }
      .header-content .header-left .image{
            margin: 0 auto;
            width: 90%;
      }

      // About me Section

      .about-container{
            grid-template-columns: 1fr;
            .right-about{
                  grid-template-columns: 1fr;
                  padding-top: 2.5rem;
            }
            .left-about{
                  padding-right: 0;
                  p{
                    padding-left: .5rem;     
                  }
                  h4{
                        font-size: 1.5rem;
                  }
            }
      }
      .main-title{
            h2{
                  font-size: 2.5rem;
            }
            .bg-text{
                  font-size: 4rem;
            }
      }

      .abt-text{
            padding: 0.5rem;
            .large-text{
                  font-size: 3rem;
                  font-weight: 800;
                  margin: 1rem;
            }
            .small-text{
                  font-size: 1rem;
                  margin: 1rem;
                  color: var(--color-white);
                  padding-left: 2rem;
            }
      }

      .skill-icon{
            margin: 0;
            padding-bottom: 2.5rem;
            padding-top: 1rem;
      }
      /*Timeline */
      .timeline{
            display: flex;
            flex-direction: column;

      }
/*MyProjects*/
.portofolios{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
}
.hover-items{
      display: flex;
      h4{
            font-size: 1.2rem;
      }
      p{
            font-size: 1rem;
      }
  
}

      .section{
            padding: 2rem 2.5rem !important ;
      }

      /*Controls */

      .controls{
            top: auto;
            bottom: 0;
            flex-direction: row;
            justify-content: center;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            background-color:var(--color-black-trans);
            .control{
                  margin: 1rem .3rem;
                 
            }
      }
}