@media  screen and (max-width: 600px) {
      header{
            padding:0;
      }
      header .header-right{
            padding: 2rem !important;
      }
      .header-content{
            grid-template-columns: 1fr;
            padding-bottom: 6rem;
      }
      .header-left{
            .h-shape{
                  display: none;
            }
      }
      .header-right{
            grid-row: 1;
            width: 90%;
            margin: 0 auto;
            .name {
                  font-size: 2rem;
            }
      }
      .header-content .header-left .image{
            margin: 0 auto;
            width: 90%;
      }
      .controls{
            top: auto;
            bottom: 0;
            flex-direction: row;
            justify-content: center;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            background-color: var(--color-grey-3);
            .control{
                  margin: 1rem .3rem;
                 
            }
      }
}