* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
:root {
      --color-primary:#264653;
      --color-secondary:#2A9D8F;
      --color-white:rgb(247, 246, 238);
      --color-black:rgb(19, 20, 19);
      --color-sun:#E9C46A;
      --color-orange-1:#F4A261;
      --color-mandarin-2:#E76F51;
      --color-grey-3:rgba(246, 246, 246, 0.064);
      --color-grey-4:rgb(84, 84, 84);
      --color-grey-5:rgb(182, 182, 182);
      --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.531);
}
body {
      background-color: var(--color-primary);
      font-family: 'Inter Tight', sans-serif;
      font-size: 1.1rem;
      color: var(--color-white);
      transition: all .4s ease-in-out;
     
}
a {
      display: inline-block;
      text-decoration: none;
      color: inherit;
      font-family: inherit;
}
header {
      height: 100vh;
      color: var(--color-white);
      overflow: hidden;
}
section {
      min-height: 100vh;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      padding: 3rem 18rem;
  
}
.section {
      transform: translateY(-100%) scale(0);
      transition:  all .4s ease-in-out;
      background-color: var(--color-primary);
     
}
.sec1{
      display: none;
      transform: translateY(0) scale(1);

}
.sec2{
      display: none;
      transform: translateY(0) scale(1);

}
.sec3{
      display: none;
      transform: translateY(0) scale(1);

}
.sec4{
      display: none;
      transform: translateY(0) scale(1);
    
}
.active {
      display: block;
      animation: scaleAnim 1s ease-in-out;
}
@keyframes scaleAnim {
      0%{
            transform: translateY(-100%) scaleY(0)
      }
      100%{
            transform: translateY(0) scaleY(1)
      }
}

/*Controls */
.controls{
      position: fixed;
      z-index: 10;
      top: 50%;
      right: 3%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(-50%);
}
.active-btn {
      background-color: var(--color-mandarin-2) !important;
      transition: all .4s ease-in-out;
}
.control {
      padding: 1rem;
      cursor: pointer;
      background-color:var( --color-secondary) ;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: .5rem 0;
      box-shadow: var(--box-shadow-1);
}
i {
      font-size: 1.2rem;
      pointer-events: none;
}

/* Header Content*/
.header-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 100%;
}
.header-left{
      display: flex;
      align-items: center;
      position: relative;
}
.header-right{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 5rem;
}
.name {
      font-size: 3rem;
}
span{
      color: var(--color-mandarin-2);
     
}
p {
      margin: 1.5rem 0;
      line-height: 2rem;
}
.h-shape {
      transition: all .4s ease-in-out;
      width: 70%;
      height: 100vh;
      background-color:var(--color-secondary);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);

}

.image {
      border-radius: 2% 2% 2% 2%;
      height: 90%;
      width: 70%;
      margin-left: 4rem;
      margin-top: 3rem;
      background: linear-gradient(351deg, rgba(172,172,172,1) 0%, rgba(0,0,0,1) 42%);
      transition: all .4s ease-in-out;
}
img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     transition: all .4s ease-in-out; 
}

/*component */
.btn-con {
      display: flex;
     align-self: flex-start;
     
}
.main-btn{
      border-radius: 30px;
      color: inherit;
      font-weight: 600;
      position: relative;
      border: 2px solid var(--color-mandarin-2);
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
}


.btn-text{
      padding: 0 2rem;
      color: white;
}
.btn-icon{
      background-color: var(--color-mandarin-2);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border-radius: 50%; 
      &::before{
            content: ' ';
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(100%);
            transition: all .4s ease-out;
            z-index: -1;
      }
      &:hover{
            &::before{
                  width: 100%;
                  height: 100%;
                  background-color: var(--color-mandarin-2);
                  transform: translateX(0);
            }
      }
}

// About Section

.main-title{
      text-align: center;
}
h2{
      position: relative;
      text-transform: uppercase;
      font-size: 6rem;
      font-weight: 700;
}
span{
      color: var(--color-orange-1);
}
.bg-text{
      position: absolute;
      top: 55%;
      left: 80%;
      color: var(--color-grey-3);
      transition: all .4s ease-in-out;
      z-index: -1;
      transform: translate(-50%,-30%);
      font-weight: 700;
      font-size: 3.5rem;
}
.about-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-top: 3.5rem;
      padding-bottom: 5rem;
      .right-about{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
            .about-item{
                  border: 1px solid var(--color-secondary);
                  border-radius: 5px;
                  transition: all .4s ease-in-out; 
                  box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                  &:hover{
                        cursor: default;
                        transform: translateY(-5px);
                        border: 1px solid var(--color-mandarin-2);
                        box-shadow: 1px 4px 15px rgba(0,0,0,.62);

                  }

            }
      }
      .left-about{
            padding-right: 5rem;
            p{
                line-height: 2rem;  
                padding: 1rem;
            }
            h4{
                  font-size: 2rem;
            }
      }
    
}
.abt-text{
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      .large-text{
            font-size: 3rem;
            font-weight: 700;
            color: var(--color-secondary);
      }
      .small-text{
            padding-left: 5rem;
            position: relative;
            text-transform: uppercase;
            font-size: 1.2rem;
            letter-spacing: 2px;
            color: var(--color-grey-5);
            &::before{
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 15px;
                  width: 2rem;
                  height: 2px;
                  color: #E9C46A;
            }
      }
}

.stat-skill{
      text-transform: uppercase;
      font-size: 1.4rem;
      text-align: center;
      padding: 3rem 0;
      position: relative;
      &::before{
            content: '';
            left: 70%;
            top: 0;
            width: 40%;
            height: 1px;
            background-color: var(--color-mandarin-2);
            transform: translateX(-10%);
      }
}
.skill-icon{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      text-align: center;
      margin: 0 35px;
      .icon{
            width: 60px;
            height: 60px;
         
      }
}